:root {
    --bg: rgba(0, 10, 20);
    --text: rgba(255, 255, 255);
    --card: rgba(20, 25, 35);
    --primary: rgb(113, 133, 235);
    --accent: rgb(0, 255, 123);
    --link: rgb(64, 160, 255);
}

h1 { color: var(--primary); }
h2 { color: var(--accent); }

* {box-sizing: border-box;}

html { scroll-behavior: smooth;}

body {
    margin: 0;
    width: 100%;
    font-family: monospace;
    font-size:1.4rem;
    color: var(--text);

    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mobile-menu-btn { display: none;}

/* ---------- Background ---------- */
.background-parallax {
    background: rgba(0, 10, 20, 0.8);
}

.section-1 {
    background: var(--bg);
}

/* ---------- Layout ---------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-inline: 5%;
}

.navbar a {
    padding: 16px;
    text-decoration: none;
    color: var(--primary);
    border-radius: 16px;
}

.navbar a:hover {
    color: var(--text);
    background: var(--card);
    transition: 0.2s ease-out;
}

.home {
    display: flex;
    padding-block: 10vh;
    padding-inline:5%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20vh;
}

.home-intro { width: 50%; }

.home-pfp {
    height: 300px; 
    border-radius: 50%;
    transition: ease-in 0.2s;
}

.home-pfp:hover {
    transform: scale(1.2);
    box-shadow: 0 0 50px 2px rgba(255, 255, 255, 0.5);
}

.content {
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 10vh;
    text-align: center;
    margin-inline: 20px;
}

.content-box {
    width: 480px;
    height: 560px;
    background: var(--card);
    padding: 24px;
    border-radius: 12px;
    transition: all 0.2s;
}

.content-box:hover {
    transform: scale(1.1);
    border: 2px solid var(--text);
    box-shadow: 0 0 15px 2px rgb(255, 255, 255, 0.5)
}

.content h2 {text-align: center;}

.btn-more button {
    width: 120px;
}

.footer {
    background: var(--card);
    padding: 24px;
    text-align: center;
}

.btn {
    padding: 12px;
    border:1px solid var(--text);
    border-radius: 20px;
    background: var(--card);
    color: var(--text);
    transition: 0.2s ease-in-out
}

.btn:hover {
    background: var(--primary);
    transform: translateY(-10%);
    box-shadow: 0 0 100px 5px rgba(255, 255, 255, 0.5);
}

.link a, a { 
    color: var(--link); 
    text-decoration: none;
    transition: 0.2s all 
}

.link i {
    color:white; 
    font-size: 24px; 
    gap: 8px;
    padding-bottom: 16px;
    transition: 0.2s all;
}

.link a:hover, .link i:hover { 
    color: var(--text);
    transform: translateY(-20%); 
}

.scroll-btn {
    text-align: center; 
    padding-block: 10vh; 
}

.scroll-btn a {
    text-decoration: none;
    color: var(--text);
}

@media (max-width: 1080px) {
    .navbar a { padding: 4px;}
    .content-box { width: 95%; }
}

@media (max-width: 768px) {
    body {font-size: 1rem;}

    .navbar {
        display: flex;
        position: absolute;
        padding: 4px;
        opacity: 0;
        transform: translateX(20%);
        transition: transform 0.4s, opacity 0.4s;
        pointer-events: none;
        z-index: 1;
     }

     .navbar a {
        padding: 4px;
     }

     .navbar.show {
        background: var(--bg);
        transform: translateX(0%);
        opacity: 1;
        pointer-events: all;
        z-index: 1;
     }
    
    .mobile-menu-btn { 
        display: flex;
        justify-content: center;
        width: 36px;
        height: 36px;
        padding: 4px;
        border-radius: 12px;
    }

    .mobile-menu-btn:hover {
        background: var(--card)
    }

    .home { 
        flex-direction: column; 
        text-align: center; 
        padding-block: 0vh;
    }

    .home-intro {
        width: 100%; 
        padding:12px;
    }
    
    .home-intro button { 
        margin-block: 2px;
    } 
    
    .home-pfp { 
        height: 200px;
    }

    .content-box { 
        width: 100%;
        padding: 8px; 
    }

}

