:root {
    --bg: rgb(0, 10, 20);
    --text: rgb(255, 255, 255);
    --card: rgb(20, 25, 35);
    --primary: rgb(0, 255, 123);
    --accent:rgb(113, 133, 235);
    --bgtrans: rgba(0, 10, 20, 0.8);
    --glow: rgba(255, 255, 255, 0.5);
}

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
    margin: 0;
    width: 100%;
    background: var(--bg);
    color: var(--text);
    font-family: monospace;
    font-size:1.4rem;
}

h1 { color: var(--primary); }
h2 { color: var(--accent); }

a { 
    color: rgb(64, 160, 255);
    text-decoration: none;
}

small {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
}

hr {
    border: none;
    border-top: 2px solid var(--card);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-inline: 5%;
    background: var(--bgtrans);
    backdrop-filter: blur(2px);
    z-index: 100;
}

.navbar a { color: var(--primary); }
.navbar a:hover { color: var(--text); }

.bgimg-1 {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home {
    display: flex;
    min-height: 100vh;
    padding-inline:5%;
    align-items: center;
    justify-content: space-around;
    background: var(--bgtrans);
}

.home-intro { width: 50%; }

.clock-container {
    background: var(--bg);
    color: var(--primary);
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--accent)
}

.clock-container #clock { font-size: 4rem; }


.logo {
    height: 300px; 
    border-radius: 50%;
    transition: ease-in 0.2s;
}

.logo:hover {
    transform: scale(1.2);
    box-shadow: 0 0 50px 2px var(--glow);
}

.container {
    margin-inline: 5%;
    padding-block: 10vh;
    text-align: center;
}

.container h2 { text-align: center;}

.container-box {
    background: var(--card);
    padding: 10vh 32px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    border: 2px solid var(--primary);
    text-align: left;
}

.container-grid {
    display: grid;
    grid-auto-columns: 400px;
    grid-auto-rows: 300px;
    gap: 1em;
    justify-content: center;
}

.card {
    background: var(--card);
    padding: 16px;
    border-radius: 8px;
    border: 2px transparent;
    text-align: center;
    transition: ease-in 0.2s;
}

.card:hover {
    transform: scale(1.1);
    border: 2px solid var(--text);
    box-shadow: 0 0 16px 2px var(--glow);
}

.footer {
    padding: 24px;
    text-align: center;
}

.btn {
    padding: 12px;
    border:1px solid var(--text);
    border-radius: 20px;
    background: var(--card);
    color: var(--text);
    transition: 0.2s ease-in-out
}

.btn:hover {
    background: var(--accent);
    transform: translateY(-10%);
    box-shadow: 0 0 100px 5px var(--glow);
}

.link i {
    color: var(--text); 
    font-size: 24px; 
    gap: 8px;
    padding-bottom: 16px;
    transition: 0.2s all;
}
.link i:hover { transform: translateY(-10%); }

.scroll-btn {
    display: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    cursor: pointer;
}

.menu-btn { 
    pointer-events: none; 
    opacity: 0;
    cursor: pointer; 
}

@media (max-width: 768px) {
    body {font-size: 1rem;}

    .navbar {
        position: absolute;
        opacity: 0;
        transform: translateX(20%);
        transition: transform 0.4s, opacity 0.4s;
        pointer-events: none;
     }

    .navbar.show {
        transform: translateX(0%);
        opacity: 1;
        pointer-events: all;
    }
    
    .menu-btn { 
        opacity: 1;
        padding: 8px;
        border-radius: 8px;
        pointer-events: all;
    }

    .menu-btn:hover { background: var(--card) }

    .home { 
        flex-direction: column; 
        text-align: center; 
        padding-block: 10vh;
    }

    .home-intro {
        width: 100%; 
        padding:12px;
    }

    .home-intro button { margin-block: 2px; } 
    .logo {  height: 200px; }
    .clock-container #clock { font-size: 2rem;}

    .container-box { flex-direction: column; }

    .container-grid {
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
    }
}