@font-face {
  font-family: 'Jetbrains Mono Nerd Font';
  src: url(font/JetBrainsMonoNerdFont-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --bg: rgb(0, 10, 20);
    --text: rgb(255, 255, 255);
    --subtext: rgb(128, 128, 128);
    --card: rgb(15, 25, 35);
    --hover:rgb(255, 64, 252);
    --bgtrans: rgba(0, 10, 20, 0.8);
    --glow: rgba(255, 255, 255, 0.5);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {scroll-behavior: smooth;}
body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Jetbrains Mono Nerd Font', monospace;
    font-size: 1.2rem;

    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a {
    color: var(--hover);
    text-decoration: none;
}
hr {
    border: none;
    border-top: 2px solid var(--card);
}

/* ---------- Navbar ---------- */
nav {
    background-color: var(--bgtrans);
    position: fixed;
    width: 100%;
    z-index: 100;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(2px);
}
nav li {
    height: 4rem;
    border-bottom: 1px transparent;
    transition: 0.3s ease-in-out;
}
nav a {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    color: var(--text);
}
nav li:hover{
    background-color:var(--card);
    border-bottom:1px solid var(--text)
}
.navbar li:first-child {
    margin-right: auto;
    background-color: transparent;
    border: none;
}
.sidebar {
    position: fixed;
    top: 4rem;
    right:0;
    height: 100vh;
    width: 240px;
    z-index: 100;
    background-color: var(--bgtrans);
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.sidebar li, .sidebar a {width: 100%;}
.sidebar.active {transform: translateX(0);}

/* ---------- Headers ---------- */
header {
    min-height: 100vh;
    display: flex;
    padding-inline: 5%;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bgtrans);
}
.home { width: 50%;}
#clock { font-size: 4rem; }

/* ---------- Main ---------- */
main {
    background-color: var(--bg);
    text-align: center;
    min-height: 100vh;
    padding-block: 8vh;
}
.container-flex {
    background-color: var(--card);
    margin-inline: 5%;
    padding: 10vh 4rem;
    border-radius: 1rem;
    border: 1px solid var(--subtext);
    gap: 50px;
    margin-block: 2rem 8vh;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}
.pfp {
    height: 300px;
    border-radius: 50%;
    transition: ease-in 0.2s;
}
.pfp:hover {
    transform: scale(1.2);
    box-shadow: 0 0 50px 2px var(--glow);
}
.container-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: 200px;
    gap: 1em;
    justify-content: center;
    margin-block: 2em;
    padding-inline: 5%;
}
.card {
    background-color: var(--card);
    text-align: left;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--subtext);
    transition: ease-in 0.2s;
    font-size: 1rem;
}
.card:hover {
    transform: scale(1.1);
    border: 1px solid var(--text);
    box-shadow: 0 0 16px 2px var(--glow);
}

/* ---------- Footer ---------- */
footer {
    background-color: var(--bg);
    padding: 24px;
    text-align: center;
}

/* ---------- link ---------- */
button {
    padding: 12px;
    border: 1px solid var(--text);
    border-radius: 20px;
    background-color: var(--card);
    color: var(--text);
    transition: 0.2s ease-in-out;
}
button:hover {
    background: var(--text);
    color: var(--bg);
    transform: translateY(-10%);
    box-shadow: 0 0 100px 8px var(--glow);
}
.link i {
    color: var(--text);
    font-size: 24px;
    gap: 8px;
    padding-block: 1rem;
    transition: 0.2s all;
}
.link i:hover {transform: translateY(-10%);}
.scroll-btn {
    display: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    cursor: pointer;
}
.menu-btn {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    z-index: 1000;
}

/* ---------- Smaller screen ---------- */
@media (max-width: 1280px) {
    .container-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 1080px) {
    main {padding-inline: 0;}
    .container-flex {flex-direction: column;}
}
@media (max-width: 720px) {
    body {
        font-size: 1rem;
        background-attachment: scroll;
    }

    .navbar li:not(:first-child, :last-child) {
        display: none;
    }
    .sidebar {
        display: flex;
    }
    .menu-btn {
        opacity: 1;
        padding: 24px;
        height: 100%;
        pointer-events: all;
    }
    header {
        flex-direction: column;
        text-align: center;
        padding-block: 10vh;
    }
    .home {width:100%;}
    .home button {margin-block: 2px;}
    .pfp {height: 200px;}
    #clock {font-size: 2rem;}
    main {padding-block: 5vh}
    .container-flex {padding: 32px;}
    .container-grid {
        grid-auto-rows: 1fr;
        grid-template-columns : 1fr;
    }
}